# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: local
    hooks:
    -   id: yarn-lint
        name: yarn lint
        entry: sh bin/precommit-lint.sh
        language: system
        pass_filenames: false
        types: [file]

    -   id: yarn-tsc-noemit
        name: yarn tsc --noEmit
        entry: sh bin/precommit-tsc-noemit.sh
        language: system
        pass_filenames: false
        types: [file]
